<!DOCTYPE html>
<html lang="es" >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Actualizar un registro </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css"> 
</head>

<script type="text/javascript">
    function ConfirmEdit() 
    {
         respuesta = confirm ("¿Desea guardar el registro?");

        if (respuesta == true)
        {
            return true;
        }
        else {
            return false;
        }
    }

</script>



<body>
    <div class="container" id="registration-form">
        <div class="image"> </div>
        <div class="frm p-3 mb-2" style="color: white; background-color: rgb(25, 56, 32); font-family: Georgia, 
        'Times New Roman', Times, serif;"> 
            <h1 align = "center"> Editar pelicula </h1>
        </div>
        &nbsp  &nbsp   &nbsp   &nbsp  
            <form action ="/edit/<%= pelicula._id %>" method="POST"  style="color: rgb(25, 56, 32)">
                <div class="form-group" align = "right">
                    <button class="btn btn-lg" style="background-color: rgb(25, 56, 32); color: white; font-family: Georgia, 'Times New Roman', 
                    Times, serif;" onclick="return ConfirmEdit()"> Actualizar   </button>
                     <button class="btn btn-lg" style="background-color: rgb(25, 56, 32); color: white; font-family: Georgia, 'Times New Roman', 
                     Times, serif;"> Regresar </button>
                </div>
                <div class="form-group">
                    <label for="Tipo_Producto"> pelicula:  </label>
                    <input type="text" class="form-control" name="pelicula" value ="<%= pelicula.pelicula %>" 
                    required  class="form-control">
                </div>
                <div class="form-group">
                    <label for="genero">genero:  </label>
                    <input type="text" name="año" class="form-control" value ="<%= pelicula.genero %>"
                      required class="form-control">
                </div>
                <div class="form-group">
                    <label for="nacionalidad"> nacionalidad: </label>
                    <input type="text" name="nacionalidado" class="form-control" value ="<%= pelicula.nacionalidad %>"
                    required class="form-control">
                </div>
                <div class="form-group">
                    <label for="idioma"> idioma: </label>
                    <input type="text" name="idioma" class="form-control" value ="<%= pelicula.idioma %>"
                     required class="form-control">
                </div>
                <div class="form-group">
                    <label for="año"> año: </label>
                    <input name="año" class="form-control"  value ="<%= pelicula.año %>"
                    required class="form-control">
                </div>
                <div class="form-group">
                    <label for="estudio"> estudio: </label>
                    <input type="text" name="estudio" class="form-control" value ="<%= pelicula.estudio %>"
                     required class="form-control"> 
                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp   
                </div>
            </form>
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
            <div class="col-md-20"> 
    </div>
</body>
</html>